<div class="container">
  <div class="row">   
  <h2>ユーザー詳細</h2>
        <div class="container-child col-md-2 col-sm-4 col-xs-6 ">
         <p> <%= @user.name %></p>
         <p class="thumbnail"> <%= profile_img(@user) %></p>
</div> 
</div> 
</div> 

<div class="container">
    <div class="row">  
  <h2>フォロー 一覧</h2>
　<% @user.followed_users.each do |user| %>
　<div class="container-child col-md-2 col-sm-4 col-xs-6 ">
    　<p>　<%= user.name %></p>
      <p class="thumbnail"> <%= profile_img(user) %></p>
      
  </div> 
  <% end %>
</div> 
</div> 

<div class="container">
      <div class="row">  
  <h2>フォロワー 一覧</h2>
  　<% @user.followers.each do |user| %>
  　<div class="container-child col-md-2 col-sm-4 col-xs-6 ">
    　<p>　<%= user.name %></p>
      <p class="thumbnail"> <%= profile_img(user) %></p>
    </div> 
  <% end %>
</div> 
</div>


<%= link_to 'もどる', users_path %>
